.header {
    text-align: left;
    margin: 0;
    padding: 0.5vh;
    width: 100vw;
    height: 3vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}
  
.title {
    font-size: 3vh;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: #333;
    margin: 0;
    padding: 0;
}
  

  .title.typing::after {
    content: "|";
    font-weight: normal;
    color: #333;
    animation: blink 0.5s step-start infinite;
    position: absolute;
    right: -10px;
  }
  

  .title.blinking::after {
    content: "|";
    font-weight: normal;
    color: #333;
    animation: blink 0.5s step-start infinite;
    position: absolute;
    right: -10px;
  }
  

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  